@charset "UTF-8";

body {
    text-align: center;
    text-shadow: 0 1px 2px #1f1f1f;
    overflow: clip;

    &.hide {
        #output,
        #fullscreen {
            opacity: 0;
            transition: opacity .4s ease-out, transform .8s ease-out;
        }

        #output {
            transform: translate(-50%, -100%);
        }
    }
}

#video {
    width: 100%;
    height: 100%;
    object-position: top;
}

#output,
#fullscreen {
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-out, transform .2s ease-out;
}

#output {
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

#fullscreen {
    --side-ref: 60px;
    right: 0;
    bottom: 0;
    width: var(--side-ref);
    height: var(--side-ref);
    background-color: transparent;
    text-shadow: 0 1px 2px #1f1f1f;

    &:hover,
    &:active,
    &:disabled {
        background-color: transparent;
    }
}